#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
}

.stars-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure canvas is behind other elements */
}

.content {
  position: relative;
  z-index: 1; /* Ensure content is above the canvas */
}
